# PORT=5000
# DATABASE=mongodb+srv://taxque:CJXms0ZWJSePAn4t@cluster0.1ru0m.mongodb.net/TaxQue?retryWrites=true&w=majority&appName=Cluster0
# DATABASE_PASSWORD=CJXms0ZWJSePAn4t

# FRONTEND_URL=http://localhost:5173

# JWT_SECRET=b4351b2e98124c762b82fa52bcf6db5d1d5746eacc15a1bd111c909df88fc48d
# SESSION_SECRET=your_random_secret_key


# # Email (for OTP)
# EMAIL_USER=thetaxque@gmail.com
# EMAIL_PASS=ahxb eghh ptgp dtki
# # EMAIL_PASS=TaxQue@12345

# # Google OAuth
# GOOGLE_CLIENT_ID=638933955654-kh2skqa1g62qsr7v0ofk60jkua4a637p.apps.googleusercontent.com
# GOOGLE_CLIENT_SECRET=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
# GOOGLE_CALLBACK_URL=http://localhost:5000/api/auth/google/callback

# # Facebook OAuth
# FACEBOOK_CLIENT_ID=your_facebook_client_id
# FACEBOOK_CLIENT_SECRET=your_facebook_client_secret
# FACEBOOK_CALLBACK_URL=http://localhost:5000/api/auth/facebook/callback

# # LinkedIn OAuth
# LINKEDIN_CLIENT_ID=your_linkedin_client_id
# LINKEDIN_CLIENT_SECRET=your_linkedin_client_secret
# LINKEDIN_CALLBACK_URL=http://localhost:5000/api/auth/linkedin/callback


# CLOUDINARY_CLOUD_NAME=drdxdfvpp
# CLOUDINARY_API_KEY=546299233659582
# CLOUDINARY_API_SECRET=Wde3XQNav1oi0Dhm3j3Vlq2PHuI
